<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/jquery.js"></script>
    <!-- SockJS的客户端脚本 -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
    <script src="/js/websocket.js"></script>
    <script src="/js/form.js"></script>
</head>
<style>
</style>
<body>
<div>
</div>
<div style="margin:0 auto;width:800px;">
    <div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
        <button data-method="notice" class="layui-btn">添加数据库</button>
        <div id="conversationDiv">
            <pre id="code" class="ace_editor" style="height:300px;margin-top: 100px" placeholder="请输入sql语句"></pre>
        </div>
        <hr>
        <button style="margin-right: 10px" id="sendSql" onclick="sendSql();" class="layui-btn">分析
        </button>
    </div>
    <div class="layui-tab layui-tab-card"
         style="background-color: #040404;width: 800px;height: 400px;overflow:scroll;margin-top: 100px">
        <ul class="layui-tab-title">
            <li>分析结果</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div id="response" style="color: white">

                </div>
            </div>
        </div>
    </div>

</div>
<div id="form"
     style="padding: 50px; height: 300px;width: 100%; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 400;"
     hidden>
    <form id="sub" class="layui-form" action="/schema" lay-filter="example" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">地址：</label>
            <div class="layui-input-block">
                <input type="text" name="address" lay-verify="title" autocomplete="off" placeholder="请输入地址"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入用户名"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-block">
                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数据库：</label>
            <div class="layui-input-inline">
                <input name="schema" required lay-verify="required" placeholder="数据库" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">端口：</label>
            <div class="layui-input-inline">
                <input name="port" required lay-verify="required" placeholder="3306" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <!--<div class="layui-form-item">-->
        <!--<div class="layui-input-block">-->
        <!--<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>-->
        <!--</div>-->
        <!--</div>-->
    </form>
</div>
</body>
</html>
<script>
    layui.use(['form', 'layer'], function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
        var form = layui.form
        //触发事件
        var active = {
            notice: function () {
                //示范一个公告层
                layer.open({
                    type: 1
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: '600px;'
                    , shade: 0.8
                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    , btn: ['取消', '添加']
                    , btnAlign: 'c'
                    , moveType: 1 //拖拽模式，0或者1
                    , content: $("#form")
                    , yes: function (index, layero) {
                        $.ajax({
                            url: "/schema",
                            type: "post",
                            data: JSON.stringify($('#sub').serializeObject()),
                            contentType: "application/json",
                            dataType: "JSON",
                            success: function (data) {
                                layer.msg(data.message, {
                                    time: 2000,
                                });
                                layer.close(index)
                            },
                            error: function (e,data) {
                                console.log(e.responseJSON.message)
                                console.log(data)
                                layer.msg(e.responseJSON.message,{
                                    time: 3000,
                                })
                            }
                        });
                    }
                });
            }

        };

        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

        //定义form表单规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

    });


    //初始化对象
    editor = ace.edit("code");

    //设置风格和语言（更多风格和语言，请到github上相应目录查看）
    //    theme = "tomorrow"
    theme = "xcode";
    language = "mysql";
    editor.setTheme("ace/theme/" + theme);
    editor.session.setMode("ace/mode/" + language);

    //字体大小
    editor.setFontSize(14);

    //设置只读（true时只读，用于展示代码）
    editor.setReadOnly(false);

    //自动换行,设置为off关闭
    editor.setOption("wrap", "free")

    //启用提示菜单
    ace.require("ace/ext/language_tools");
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });

    function sendSql() {
        var sql = editor.getValue();
        ws.send(sql);
        console.log(ws);
    }


</script>