<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/jquery.js"></script>
    <!-- SockJS的客户端脚本 -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
    <script src="/js/websocket.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/lay.js"></script>
</head>
<style>
</style>
<body>

<div style="height: 1000px">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>数据查询平台</legend>
    </fieldset>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3">
                <div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
                    <div class="layui-card">
                        <div class="layui-card-header">数据库
                            <button data-method="notice" class="layui-btn layui-btn-sm"
                                    style="float: right;margin-top: 8px">
                                添加数据库
                            </button>
                        </div>
                        <!--数据库-->
                        <div class="layui-card-body">
                            <div class="layui-input-inline layui-form">
                                <select id="query_userStatus" lay-search>
                                    <option value="">请选择数据库</option>
                                    <div th:each="schemaResp:${schemaResps}">
                                        <option value="S00202"><span th:text="${schemaResp.schema}">数据库</span></option>

                                    </div>
                                </select>
                            </div>
                        </div>
                        <!--表-->
                        <div style="margin-left: 15px;max-width: 100px" th:each="table:${schemaResps[0].tables}">
                            <i class="layui-icon layui-icon-table" style="font-size: 20px; color: #009688;"><span
                                    th:text="${table.key}"></span></i>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="layui-col-md9">
                <div class="layui-card">
                    <div class="layui-card-header">查询</div>
                    <div class="layui-card-body">
                        <div id="conversationDiv">
                            <pre id="code" class="ace_editor" style="height:300px;margin-top: 10px"
                                 placeholder="请输入sql语句"></pre>
                        </div>
                        <hr>
                        <button style="margin-right: 10px" id="sendSql" onclick="sendSql();" class="layui-btn">分析
                        </button>
                        <button style="margin-right: 10px" id="send" onclick="" class="layui-btn">查询
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-col-md9" style="float: right">
                <div class="layui-card">
                    <!--<div class="layui-card-header"></div>-->
                    <div class="layui-card-body">
                        <div class="layui-tab layui-tab-card"
                             style="background-color: #040404;width: 100%;height: 400px;overflow:scroll;">
                            <ul class="layui-tab-title">
                                <li>分析结果</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <div id="response" style="color: white">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="form"
     style="padding: 50px; height: 300px;width: 100%; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 400;"
     hidden>
    <form id="sub" class="layui-form" action="/schema" lay-filter="example" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">地址：</label>
            <div class="layui-input-block">
                <input type="text" name="address" lay-verify="title" autocomplete="off" placeholder="请输入地址"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-block">
                <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入用户名"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-block">
                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数据库：</label>
            <div class="layui-input-inline">
                <input name="schema" required lay-verify="required" placeholder="数据库" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">端口：</label>
            <div class="layui-input-inline">
                <input name="port" required lay-verify="required" placeholder="3306" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </form>
</div>
</body>
</html>
<script>

    //初始化对象
    editor = ace.edit("code");

    //设置风格和语言（更多风格和语言，请到github上相应目录查看）
    //    theme = "tomorrow"
    theme = "xcode";
    language = "mysql";
    editor.setTheme("ace/theme/" + theme);
    editor.session.setMode("ace/mode/" + language);

    //字体大小
    editor.setFontSize(14);

    //设置只读（true时只读，用于展示代码）
    editor.setReadOnly(false);

    //自动换行,设置为off关闭
    editor.setOption("wrap", "free")

    //启用提示菜单
    ace.require("ace/ext/language_tools");
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });

    function sendSql() {
        var sql = editor.getValue();
        ws.send(sql);
        console.log(ws);
    }


</script>